nav {
    overflow: hidden;
    padding: 10px;
    background: #9c27b0;

    ul {
        margin: auto;
        width: 1024px;
        padding: 0;
        list-style: none;

        li {
            float: left;

            a {
                display: inline-block;
                padding: 10px 15px;
                color: #fff;
                text-decoration: none;

                &.active {
                    color: #9c27b0;
                    background: #fff;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                }
            }
        }
    }
}
@media screen and (max-width: 960px) {
nav ul {
    width: 100%;
}
}