body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
}

.content {
    margin: auto;
    width: 1024px;
}

section {
    float: left;
}

.home {
    padding: 30px 0;
    width: 100%;
    background: #F48FB1;
   
    .content {
      height:650px;
      background: url('https://i.imgur.com/F15Md8r.png') no-repeat right bottom;
    }
    
    h1 {
      padding: 30px 0 0;
      margin: 0;
      font-size: 48px;
      font-family: 'Playfair Display', serif;
      font-weight: 400;
      color: #333;
    }
    
    p {
      margin: 60px 0 0 0;
      padding: 0;
      width: 600px;
      font-size: 22px;
      font-family: 'Work Sans', sans-serif;
      line-height: 150%;
      color: #333;
    }
    
    .btn {
      margin: 60px 0 0 0;
      display: inline-block;
      text-decoration: none;
    }
    
  }

footer {
    overflow: hidden;
    width: 100%;
    padding: 30px 0;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: #fff;
    background: #37474F;
  }

  @media screen and (max-width: 960px) {
    .content {
        width: 100%;
    }

    section.card {
      padding: 60px 0 0;
      float: inherit;
    }

    article {
      width: 100% !important;
    }

    section.editor {
        margin: 0 2% 30px;
        padding: 0 0 0;
        width: 96%;
    }

    .home .content {
      padding: 2%;
      width: 96%;
    }

    .home p {
      width: 100%;
    }

    
  }